// Global Foundation Settings
@import "settings"

// Comment out this import if you don't want to use normalize
@import "normalize"

// Comment out this import if you are customizing you imports below
@import "foundation"

@import "compass/css3/transition"

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global" // *always required
// @import "foundation/components/grid"
// @import "foundation/components/visibility"
// @import "foundation/components/block-grid"
// @import "foundation/components/type"
// @import "foundation/components/buttons"
// @import "foundation/components/forms" // *requires components/buttons
// @import "foundation/components/custom-forms" // *requires components/buttons, components/forms
// @import "foundation/components/button-groups" // *requires components/buttons
// @import "foundation/components/dropdown-buttons" // *requires components/buttons
// @import "foundation/components/split-buttons" // *requires components/buttons
// @import "foundation/components/flex-video"
// @import "foundation/components/section"
// @import "foundation/components/top-bar"  // *requires components/grid
// @import "foundation/components/orbit"
// @import "foundation/components/reveal"
// @import "foundation/components/joyride"
// @import "foundation/components/clearing"
// @import "foundation/components/alert-boxes"
// @import "foundation/components/breadcrumbs"
// @import "foundation/components/keystrokes"
// @import "foundation/components/labels"
// @import "foundation/components/inline-lists"
// @import "foundation/components/pagination"
// @import "foundation/components/panels"
// @import "foundation/components/pricing-tables"
// @import "foundation/components/progress-bars"
// @import "foundation/components/side-nav"
// @import "foundation/components/sub-nav"
// @import "foundation/components/switch"
// @import "foundation/components/magellan"
// @import "foundation/components/tables"
// @import "foundation/components/thumbs"
// @import "foundation/components/tooltips"
// @import "foundation/components/dropdown"

html
	background: transparent

body
	background: url('/_shared/img/body_bg01.png')

header
	h1
		margin: 50px auto 80px
		text-align: center
	
	#catchcopy
		margin-bottom: 50px
		
		h2
			color: #666
			margin: 0
			text-align: center
			
		p.copy
			color: #666
			
	#news
		margin-bottom: 50px
		line-height: 1.3
		display: table
		width: 100%
		
		div
			display: table-cell
		
		.head
			background: #2ba6cb
			width: 10%
			text-align: center
			
			a
				color: #fff

		div:last-child
			width: 90%
							
		h2
			font-size: 0.875em
		
		.alert-box
			background: rgba(255, 255, 255, .5)
			color: #2ba6cb
			border: none
			font-weight: normal		
		
#front-page
	margin-top: -600px

.background
	background: url('/_shared/img/body_bg02.png') no-repeat
	background-position: center top
	height: 700px
	margin-top: -30px
	-moz-animation: fade 2s linear
	-webkit-animation: fade 2s linear
	animation: fade 2s linear

@-moz-keyframes fade
	from
		opacity: 0
	to
		opacity: 1
		
@-webkit-keyframes fade
	from
		opacity: 0
	to
		opacity: 1
		
@keyframes fade
	from
		opacity: 0
	to
		opacity: 1

#content
	div h2
		border-top: 3px solid #ccc
		padding-top: 20px
		font-size: 150%

	.row
		margin-bottom: 100px
	
.wp-pagenavi
	margin: 30px auto
	text-align: center
	font-size: 90%
	
	a, span
		border: none

	.current
		border: none
		background-color: #2ba6cb
		color: #fff
		margin: 0 5px
	
section.list
	a.article
		color: #222
	
	h2
		font-size: 130%
	
	article
		margin-bottom: 2em
	
#second
	nav
		margin-bottom: 30px
	
	h1
		font-size: 150%
	
	h2
		font-size: 120%
	
	h3
		font-size: 100%
	
	h4, h5, h6
		font-size: 100%
		font-weight: normal
	
	.alignleft
		float: left
		margin: 0 10px 10px 0
	
	.alignright
		float: right
		margin: 0 0 10px 10px
	
	.aligncenter
		display: block
		margin: 0 auto
	
	ul, ol
		margin-left: 30px
	
#sidebar
	h2
		font-size: 100%
	
	ul
		margin: 0
	
	.widget
		list-style: none

		li
			list-style: none
			margin-bottom: 0.5em
			font-size: 80%
		
#content
	h2
		font-size: 110%
	
.icon
	text-align: center
	padding: 20px 0

	i
		font-size: 100px
		color: #666
	
.left
	float: left
	margin: 0 10px 10px 0

.right
	float: right
	margin: 0 0 10px 10px

@media screen and (max-width: 767px)
	.fb_iframe_widget
		display: none !important
	
	.background
		background: url('/_shared/img/body_bg02_sp.png') no-repeat
		background-size: 75%
		margin-top: -30px
		
	header
		#news
			div
				display: block
			.head
				width: 100%
				text-align: left
				padding: 1px 5px
			div:last-child
				width: 100%